{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div class="actions">
      <h2>Les utilisateurs</h2>
      <button>
         <a href="{{ path('app_admin_pizza_create') }}" title="Ajouter une pizza">Ajouter un nouvel utilisateur</a>
      </button>
   </div>

    {# RECHERCHE AVANCEE #}

    <div>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>



    {# TABLEAU DES UTILISATEURS #}
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td> {{user.id}} </td>
                            <td> {{user.email}} </td>
                            <td> {{user.phoneNumber}} </td>
                            <td> <a href="#" tilte="Modifier"><i class="fas fa-pen"></i></a> | <a href="#" title="Supprimer"><i class="fas fa-trash"></i></a></td>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




{% endblock %}