{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h2> {% block titre %} Inscription {% endblock %} </h2>
    <div class="container-form">

        {{form_start(form)}}

            <div class="container-form-info">
                <h3>Informations personnelles</h3>

                <div class="form-group">
                    {{form_row(form.name)}}
                </div>
                <div class="form-group">
                    {{form_row(form.email)}}
                </div>
                <div class="form-group">
                    {{form_row(form.password)}}
                </div>
                <div class="form-group">
                    {# {{form_row(form.password)}} #}
                </div>
                <div class="form-group">
                    {{form_row(form.phoneNumber)}}
                </div>
            </div>

            <div class="container-form-adresse">
                <h3>Adresse postale</h3>

                <div class="form-group">
                    {{form_row(form.city)}}
                </div>
                <div class="form-group">
                    {{form_row(form.postalCode)}}
                </div>
                <div class="form-group">
                    {{form_row(form.address)}}
                </div>
                <div class="form-group">
                    {{form_row(form.complement)}}
                </div>

                {# <div class="row justify-content-center">
                    <a href="{{path('app_register')}}" class="btn btn-success col-6 text-center"><i class="fas fa-check"></i> - S'inscrire</a>
                </div> #}
            </div>

        {{form_end(form)}}
    </div>

{% endblock %}