{% extends "base.html.twig" %}

    {% block title %}Accueil{% endblock %}

    {% block body %}
        <header>
            <div class="header-container">
                <h1>PizzaShop</h1>
                <p>Vos meilleures pizzas à portée de clic!</p>
            </div>
        </header>

        <h2>Voici la carte de nos pizzas:</h2>

        {% for pizza in pizzas %}

            <div class="home-pizza-card">
                <h3>
                    {{ pizza.name }}
                </h3>
                <p class="home-pizza-card-body">
                    {{ pizza.description }}
                </p>
                <div class="home-pizza-card-footer">
                    <p class="price">
                        {{ pizza.price}}&nbsp;€
                    </p>
                    <button class="home-pizza-card-btn">
                        Ajouter au panier <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </div>
                <div class="home-pizza-card-img">
                    <div class="black-frame"></div>
                        <img width="100px" height="100px" src="{{ '../uploads/' ~pizza.picture }}" alt="{{ pizza.name }}" />
                    </div>
                </div>
            </div>
            
        {% endfor %}

    {% endblock %}

