{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <div class="header-container">
            <h1>PizzaShop</h1>
            <p>Vos meilleures pizzas à portée de clic!</p>
        </div>
    </header>

    <h2>Nos Pizzas:</h2>

    {% for pizza in pizzas %}

        <div class="pizza-card">
            <h3>
                {# Une pizza sans nom #}
                {{ pizza.name }}
            </h3>
            <p class="pizza-card-body">
            {# Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laborum. Id fugiat quas recusandae dolores. Maiores nostrum consequuntur ducimus soluta veritatis sit, necessitatibus ex sequi voluptates eveniet totam vero quas! #}
                {{ pizza.description }}
            </p>
            <div class="pizza-card-footer">
                <p class="price">
                    {# Prix € #}
                    {{ pizza.price}}&nbsp;€
                </p>
                <bouton class="btn">
                    <i class="fa-solid fa-cart-shopping"></i>Ajouter au panier
                </bouton>
            </div>
            <div class="pizza-card-img">
                <div class="black-frame"></div>
                    {# IMAGE PIZZA #}
                    <img src="{{ pizza.image }}" alt="{{ pizza.title }}" />
                </div>
            </div>
        </div>
        
  {% endfor %}

{% endblock %}

