{% extends 'base.html.twig' %}

{% block title %}Admin - Pizzas{% endblock %}

{% block body %}

   <div class="actions">
      <h2>Les pizzas</h2>
      <button>
         <a href="{{ path('app_admin_pizza_create') }}" title="Ajouter une pizza">Ajouter une pizza</a>
      </button>
   </div>

      {% for pizza in pizzas %}

         <div class="home-pizza-card">
                <h3>
                    {{ pizza.name }}
                </h3>
                <p class="home-pizza-card-body">
                    {{ pizza.description }}
                </p>
                <div class="home-pizza-card-footer">
                     <button class="home-pizza-card-btn list-pizza-btn">
                        <a href="{{ path('app_admin_pizza_update', {'id': pizza.id}) }}" title="modifier la pizza">Modifier <i class="fa-solid fa-pen"></i></a>
                     </button>
                     <button class="home-pizza-card-btn list-pizza-btn trash-pizza">
                        <a href="{{ path('app_admin_pizza_delete', {'id': pizza.id}) }}" title="supprimer la pizza">Supprimer<i class="fa-solid fa-trash"></i></a>
                     </button>
                </div>
                <div class="home-pizza-card-img">
                    <div class="black-frame"></div>
                        <img width="100px" height="100px" src="{{ '../uploads/' ~pizza.picture }}" alt="{{ pizza.name }}" />
                    </div>
                </div>
            </div>

      {% else %}

         <h2>Aucune pizza !! </h2>

      {% endfor %}

{% endblock %}