{% extends 'admin/pizza/create.html.twig' %}

{% block body %}

    <h2>Modifier la pizza suivante : {{ pizza.name }}</h2>
    <span class="btn-add"><a href="{{ path('app_admin_pizza_list') }}">Retour aux pizzas</a></span>
    

    <div class="container-update">
        {{ form_start(form) }}

        <div class="form-update">
            {{ form_row(form.name) }}
        </div>

        <div class="form-update">
            {{ form_row(form.description) }}
        </div>

        <div class="form-update">
            {{ form_row(form.price) }}
        </div>

        <div class="form-update">
            {{ form_row(form.picture) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}